@import url(http://fonts.googleapis.com/css?family=Open+Sans:300ital;ic,400italic,400,300,700,800);

body{
	background-image:url('img/fondo.png');
	margin: 0;
}

header, section, div, footer{
	display: block;
}

h1, h2, h3, p, a, header, nav, ul, li{
	font-family: Open Sans;
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
}

header{
	margin-bottom:1em;
	display:block;
}

#header{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: block;
}

h1{
	color:rgba(60, 100, 65, 0.2);
	font-weight: 800;
	font-size: 5em;
	text-align: center;
	padding-bottom: calc(-10%);
	z-index: 10000;
 }

 #logo {
 	height: 3em;
    left: 1em;
    letter-spacing: -1px;
    line-height: 1.3em;
    position: absolute;
    font-weight: 800;
    font-size: 2em;
    color: #ccc;
    vertical-align: baseline;
}

#nav {
	height: 3em;
    line-height: 3em;
    position: absolute;
    right: 1em;
    top: 0;
}

#nav ul li{
	display: inline-block;
    font-size: 0.9em;
    margin-left: 0.5em;
}

#nav ul li a{
	color: inherit;
    display: block;
    height: 3em;
    line-height: 3em;
    outline: 0 none;
    padding: 0 0.5em;
}

.cajachica{
	width: 60%;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	background: rgba(255,255,255,0.9);
}

.cajaderecha{
	width: 60%;
	margin-right: 0;
	margin-left: auto;
}

.cajaizquierda{
	width: 60%;
	margin-right: auto;
	margin-left: 0;
}

h2{
	color: #801C30;
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	padding-bottom: calc(-10%)
}

p{
	font-size: 1em;
	font-weight: 400;
	color: #5A5931;
}

img{
	width: 100%;
	position: absolute;
}

a{
	color: #777;
}

footer{
	font-family: Open Sans;
	font-size: 1em;
	color: #5A5931;
}

#intro{
	background:url('img/total1.png') no-repeat fixed center bottom / cover rgba(0, 0, 0, 0); 
}

#uno{
	background:url('img/total2.png') no-repeat fixed center bottom / cover rgba(0, 0, 0, 0); 
}

#dos{
	background:url('img/total3.png') no-repeat fixed center bottom / cover rgba(0, 0, 0, 0); 
}

#tres{
	background:url('img/total4.png') no-repeat fixed center bottom / cover rgba(0, 0, 0, 0); 
}

#cuatro{
	background:url('img/total5.png') no-repeat fixed center bottom / cover rgba(0, 0, 0, 0); 
}

